
.p{
    background-color:black;
    color:orange;
    font-size:23px;
}
h1{
    color:orange;
    font-size:40px;
}
a{
    background-color:orange;
    color:black;
    font-size:25px;
    text-align:center;
    border:white;
}
body{
    background-color:black;
    text-align: center;
}
th{
    color:orange;
}
table{
    width:50%;
    margin-left:25%;
}
td{
    color:orange;
}
p{
    color:orange;
    font-size:25px;
}